<div class="footer">
  <p>Hotel booking</p>

  <i class="fa fa-facebook-official" style="font-size:24px"></i>
  <i class="fa fa-twitter-square" style="font-size:24px"></i>
  <i class="fa fa-instagram" style="font-size:24px"></i>
  <i class="fa fa-youtube-square" style="font-size:24px"></i>
  <div class="footer-nav">
    <p>Home</p>
    <p>Hotel</p>
    <p>About</p>
  </div>

 
</div>