<div class="menu-owner">
    <div class="logo">
        OWNER
    </div>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/">Hotel management</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Add new hotel</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/reviews">Review Management</a>
        </li>
        
    </ul>
</div>