<div class="container-blog">

    <p class="header-blog">Review Hotel</p>
    <p>Review is a place to store reviews from popular blogger</p>


    <div class="review">
        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="http://www.imagehotels.net/fullpanel/uploads/files/shs-exterior-small.jpg" width="100%" height="100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title card-title-hotel">Remote Courtyard Hotel</div>
                    <p class="card-text">From the moment you check in at the colorfully-painted reception, under the bright lights of the movie theater marquee-style sign above, Generator makes you feel like a guest at a long-running party. Envisioned as the next generation of hostels, the brand celebrates unique design, engaging experiences, and locally-sourced food, while offering a range of room styles and prices. As with all Generators, the focus at this flagship Paris outpost is on the shared social scene, so past the reception lies an always-buzzing Café Fabien, with ping-pong and foosball tables and a garden-view conservatory. A spiral staircase leads down to a nightclub inspired by the Paris Metro, while elevators—operated by keycards, for extra security—lead up to a rooftop lounge with hammocks, a bar, and views out to Montmartre.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="http://www.imagehotels.net/fullpanel/uploads/files/shs-exterior-small.jpg" width="100%" height="100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title card-title-hotel">Remote Courtyard Hotel</div>
                    <p class="card-text">From the moment you check in at the colorfully-painted reception, under the bright lights of the movie theater marquee-style sign above, Generator makes you feel like a guest at a long-running party. Envisioned as the next generation of hostels, the brand celebrates unique design, engaging experiences, and locally-sourced food, while offering a range of room styles and prices. As with all Generators, the focus at this flagship Paris outpost is on the shared social scene, so past the reception lies an always-buzzing Café Fabien, with ping-pong and foosball tables and a garden-view conservatory. A spiral staircase leads down to a nightclub inspired by the Paris Metro, while elevators—operated by keycards, for extra security—lead up to a rooftop lounge with hammocks, a bar, and views out to Montmartre.</p>
                </div>
            </div>
        </div>
        </div>
        <div class="card mb-3">
            <div class="row g-0">
            <div class="col-md-4">
                <img src="http://www.imagehotels.net/fullpanel/uploads/files/shs-exterior-small.jpg" width="100%" height="100%">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <div class="card-title card-title-hotel">Remote Courtyard Hotel</div>
                    <p class="card-text">From the moment you check in at the colorfully-painted reception, under the bright lights of the movie theater marquee-style sign above, Generator makes you feel like a guest at a long-running party. Envisioned as the next generation of hostels, the brand celebrates unique design, engaging experiences, and locally-sourced food, while offering a range of room styles and prices. As with all Generators, the focus at this flagship Paris outpost is on the shared social scene, so past the reception lies an always-buzzing Café Fabien, with ping-pong and foosball tables and a garden-view conservatory. A spiral staircase leads down to a nightclub inspired by the Paris Metro, while elevators—operated by keycards, for extra security—lead up to a rooftop lounge with hammocks, a bar, and views out to Montmartre.</p>
                </div>
            </div>
        </div>
        </div>
    </div>
    
    
</div>