<div class="container-fluid">
<div class="progressbar-wrapper">
  <div class="progressbar-inner">
    <ul class="progressbar">
  <li class="complete">Step 1</li>
  <li class="complete">Step 2</li>
  <li class="active">Step 3</li>
  

</ul>
  </div>
</div>
<form action="/payment" method="get">
<div class="progress-content">
  <div class="booking-detail">
  <div class="card">
    <div class="card-header">
      <div class="card-body">
        <div class="card-title">Your detail</div>
        <div class="card-text">
          <p>Check in</p>
          <p>{{booking.datestart}}</p>
          <p>Check out</p>
          <p>{{booking.dateend}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="price-detail">
  <div class="card">
    <div class="card-header">
      <div class="card-body">
        <div class="card-title">Your price</div>
        <div class="card-text">
          <p>Price</p>
          <p>20000000</p>
          <p>VAT</p>
          <p>10%</p>
        </div>
      </div>
      <div class="card-footer">
         <p>Price</p>
      </div>
    </div>
  </div>
</div>
</div>
<div class="information-detail">

  <div class="card">
    <div class="row">
      <div class="col-4">
        <img src="https://pearlriverhotel.vn/wp-content/uploads/2019/07/pearl-river-hotel-home1.jpg" class="img-fluid rounded-start" alt="..." />
      </div>
      <div class="col-8">
        <div class="card-body">
          <h5 class="card-title">{{booking.name}}</h5>
          <p class="card-text">This is a wider card with supporting text below
            as a natural lead-in to additional content. This content is a little
            bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>

      </div>
    </div>
  </div>
  <div class="card">
   <div class="card-body">
      <div class="card-title">Enter your detail</div>
    
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">Email
     </label>
      <input
        class="form-control"
        id="exampleFormControlTextarea1"
        name="email"
      ></input>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">FirstName
        </label>
      <input
        class="form-control"
        id="exampleFormControlTextarea1"
        name="firstname"
      
      ></input>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label">LastName</label>
      <input
        class="form-control"
        id="exampleFormControlTextarea1"
   
        name="lastname"
      ></input>
    </div>
    <div class="mb-3">
      <button type="submit" class="btn btn-primary">Payment</button>
    </div>
   </div>
  </div>
  
</div>

</div>
</form>
</div>