<div class="container-blog-detail">
   <div class="blog-content">
        <p class="title">Remote Courtyard Hotel</p>
    <img src="http://www.imagehotels.net/fullpanel/uploads/files/shs-exterior-small.jpg" alt="Loading...." width="100%" height="650px">
    <p class="introduction-heading">Introduction</p>
    <p class="introduction-content">The Ascott Sathorn offers luxurious serviced residences in Bangkok’s business capital.
         In addition to spacious and comfortably furnished rooms the Ascott has luxurious amenities including a fully equipped fitness gym and spa facilities, 
         multiple dining options on site and a large swimming pool.</p>
    <p class="location-heading">Location</p>
    <p class="location-content">Located in Bangkok’s business and commercial district makes the Ascott an ideal location for business oriented visitors. It’s also a more low key and family friendly area for travelers visiting with young children
        . The Acsott’s close proximity to both the BTS and MRT transportation hubs mean it is easy and convenient to get around the city.</p>
    <p class="feature-heading">Features</p>
    <p class="feature-content">Fiesta Americana Grand Coral Beach bills itself as the only resort in Latin America with a spa consisting of 10 separate water treatments, including a “sensations” pool brimming with bubbles, an aromatherapy steam room, a clay steam room, ice room, sauna, rain shower, whirlpool, polar pool, and more. The property also has a large infinity pool with a swim-up bar, and it is located next to a motorized water sport facility with plenty of activity options. A few have complained that the breakfast buffet is not available to children, but the resort does cater to kids' needs in the day with group activities, including sand castle building and seashell hunts.

The property also boasts a large fitness center overlooking the beach, as well as three restaurants and several bars.</p>
    <p class="feature-heading">Rooms</p>
   </div>
    <div class="actor">
        <div class="infomation-actor"></div>
    </div>
</div>