<div class="container-fluid">
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img
          src="https://www.hotel-zirmerhof.com/fileadmin/fileadmin/_processed_/7/e/csm_Hallenbad_53ec5c236a.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://www.hotelscombined.com/news/wp-content/uploads/sites/314/2020/07/festured-image-GettyImages-1091162358-1920x600.jpg"
          class="d-block w-100"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="https://images.unsplash.com/photo-1542314831-068cd1dbfeeb?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTJ8fGhvdGVsfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60"
          class="d-block w-100"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <h4 class="title">Explore destination </h4>
   
<div class="multi-carousel">
  <div class="multi-carousel-inner">
    <div class="multi-carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/1.jpg"
        alt="Gallery image 1"
        class="w-100"
      />
    </div>
    <div class="multi-carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/2.jpg"
        alt="Gallery image 2"
        class="w-100"
      />
    </div>
    <div class="multi-carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/3.jpg"
        alt="Gallery image 3"
        class="w-100"
      />
    </div>
    <div class="multi-carousel-item">
      <img
        src="https://mdbootstrap.com/img/Photos/Thumbnails/Slides/4.jpg"
        alt="Gallery image 4"
        class="w-100"
      />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    tabindex="0"
    data-mdb-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    tabindex="0"
    data-mdb-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </button>
</div>
</div>
<div class="container-fluid">
  <h4 class="title">Popular Hotel </h4>

  
 <div class="row">
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
  </div>
 
  
  <div class="button-wrapper">
    <button class="seemore-button">See More</button>
  </div>
  <h4 class="title">Top rating </h4>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
    <div class="col-3">
      <div class="card">
        <img
        src="https://media-cdn.tripadvisor.com/media/photo-s/16/1a/ea/54/hotel-presidente-4s.jpg"
        class="img-popular rounded float-start"
        alt="..."
      />
        <div class="card-body">
          <p><span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
</p>
    <h5 class="card-title">Hotel name </h5>
    <p class="card-text">
      <p><i class="fa fa-dollar" style="font-size:16px"></i><strong>1000000 per/night</strong> </p>
      <p style="color: colo;">912 Stanton Meadow,Australia and New Zealand</p>
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
      </div>
     
    </div>
  </div>
  <div class="button-wrapper">
    <button class="seemore-button">See More</button>
  </div>
</div>
</div>

<script>
  $(document).ready(function(){
    $(".owl-carousel").owlCarousel();
  })
</script>