<div class="search-wrapper">
  <div class="input-group rounded w-25">
    <input
      type="Search address"
      class="form-control rounded search-input"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
      width="48px"
    />
    <select class="form-select" aria-label="Default select example">
      <option selected>People</option>
      <option value="1">1 people</option>
      <option value="2">2 people</option>
      <option value="3">3 people</option>
    </select>
    <button>Search</button>

  </div>
</div>
<div class="content-wrapper">
  <div class="filter-wrapper">
    <ul class="list-group">
      <li class="list-group-item">Categories</li>
      <li class="list-group-item">Hotel</li>
      <li class="list-group-item">Resort</li>
      <li class="list-group-item">Villa</li>
      <li class="list-group-item">PenHouse</li>
    </ul>
  </div>
  <div class="hotel-wrapper">
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img src="..." class="img-fluid rounded-start" alt="..." />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="card">
        <div class="row">
          <div class="col-4">
            <img
              src="https://cf.bstatic.com/xdata/images/hotel/square200/98439178.webp?k=ea15bd84b76d4f739642ff102c8b7beacc868dbdd98dbc1b5b061408aff83fbc&o="
              class="img-fluid rounded-start"
              alt="..."
            />
          </div>
          <div class="col-8">
            <div class="card-body">
              <h5 class="card-title">Valentine Hotel Saigon - Bùi Viện Street
              </h5>
              <p class="card-text">This is a wider card with supporting text
                below as a natural lead-in to additional content. This content
                is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins
                  ago</small></p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <ul class="pagination">
      <li class="page-item"><a class="page-link">Previous</a></li>
      <li class="page-item"><a class="page-link">1</a></li>
      <li class="page-item"><a class="page-link">2</a></li>
      <li class="page-item"><a class="page-link">3</a></li>
      <li class="page-item"><a class="page-link">4</a></li>
      <li class="page-item"><a class="page-link">Next</a></li>
    </ul>
    </div>

  </div>
</div>