<div class="menu-owner">
  <div class="logo">
    ADMIN
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="/">Hotel management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/users">User management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/reviews">Review Management</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
<div class="content-owner">
  <div class="content">
    <p class="head-title">Các bài review hiện có</p>
    <div class="analyst-hotel">
      <div class="comment-count">
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-blockquote-left"
          viewBox="0 0 16 0"
        >
          <path
            d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm5 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm-5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm.79-5.373c.112-.078.26-.17.444-.275L3.524 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282c.024-.203.065-.37.123-.498a1.38 1.38 0 0 1 .252-.37 1.94 1.94 0 0 1 .346-.298zm2.167 0c.113-.078.262-.17.445-.275L5.692 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282a1.75 1.75 0 0 1 .118-.492c.058-.13.144-.254.257-.375a1.94 1.94 0 0 1 .346-.3z"
          ></path>
        </svg>
      </div>
      <div class="content">
        <div class="title">Comment amount :</div>
        <div class="amount">1</div>
      </div>
    </div>
    <div class="comment-count">
      <div class="icon">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-blockquote-left"
          viewBox="0 0 16 0"
        >
          <path
            d="M2.5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm5 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm0 3a.5.5 0 0 0 0 1h6a.5.5 0 0 0 0-1h-6zm-5 3a.5.5 0 0 0 0 1h11a.5.5 0 0 0 0-1h-11zm.79-5.373c.112-.078.26-.17.444-.275L3.524 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282c.024-.203.065-.37.123-.498a1.38 1.38 0 0 1 .252-.37 1.94 1.94 0 0 1 .346-.298zm2.167 0c.113-.078.262-.17.445-.275L5.692 6c-.122.074-.272.17-.452.287-.18.117-.35.26-.51.428a2.425 2.425 0 0 0-.398.562c-.11.207-.164.438-.164.692 0 .36.072.65.217.873.144.219.385.328.72.328.215 0 .383-.07.504-.211a.697.697 0 0 0 .188-.463c0-.23-.07-.404-.211-.521-.137-.121-.326-.182-.568-.182h-.282a1.75 1.75 0 0 1 .118-.492c.058-.13.144-.254.257-.375a1.94 1.94 0 0 1 .346-.3z"
          ></path>
        </svg>
      </div>
      <div class="content">
        <div class="title">Comment amount :</div>
        <div class="amount">1</div>
      </div>
    </div>
    </div>
    <div class="reviews">
      <div class="review">
        <div class="card mb-3 review-card">
          <img
            src="https://wallpaperaccess.com/full/2690557.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ney York hotel</h5>
            <p class="card-text">Author:</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="card mb-3 review-card">
          <img
            src="https://wallpaperaccess.com/full/2690557.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ney York hotel</h5>
            <p class="card-text">This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="card mb-3 review-card">
          <img
            src="https://wallpaperaccess.com/full/2690557.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ney York hotel</h5>
            <p class="card-text">This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="card mb-3 review-card">
          <img
            src="https://wallpaperaccess.com/full/2690557.jpg"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">Ney York hotel</h5>
            <p class="card-text">This is a wider card with supporting text below
              as a natural lead-in to additional content. This content is a
              little bit longer.</p>
            <p class="card-text"><small class="text-muted">Last updated 3 mins
                ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

  </div>

</div>