<div class="content">
     <h1>Hotel</h1>
     <button class="add-hotel btn btn-primary">Add new hotel</button>
    <table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">Address</th>
      <th scope="col">Gmail</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
      <td><button type="button" class="btn btn-warning">Ban</button>
      <button type="button" class="btn btn-danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>012923812</td>
      <td>21 Hung Dao Street</td>
      <td>...@gmail.com</td>
    </tr>

    
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>

</div>

</div>
<div class="footer">
  <p>Group 04</p>
</div>