body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.container-fluid {
    padding-left: 100px !important;
    padding-right: 100px !important;
}


/*Header*/

a {
    color: #00B7FF;
}

.navbar {
    background-color: white;
    color: white;
    border-bottom: 1px solid #C0C0C0;
}

.navbar-collapse {
    display: flex;
    float: right !important;
}

.navbar .navbar-nav .nav-item a {
    color: black;
    padding: 10px 40px;
    font-weight: 500;
}
.navbar img{
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.navbar .name{
    color: black;
}
.signin-button {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.signup-button {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

.carousel-item img {
    height: 600px;
}

.explore-destination {
    display: flex;
    margin: auto;
}

.explore-destination {
    display: flex;
}

.img-popular {
    width: 100%;
}

.row {
    padding: 10px;
}

.title {
    padding: 10px;
    font-weight: 900;
}

.button-wrapper {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 10px;
}

.seemore-button {
    border: 4px solid #202020;
    background-color: white;
    font-size: 24px;
    color: #202020;
    text-align: center;
    padding: 20px 30px;
    font-weight: 900;
    width: 200px;
}


/*Footer */

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: black;
    text-align: center;
}

.introduction {
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
}

.footer i {
    padding: 10px;
    color: black;
}

.footer .footer-nav p {
    display: inline-block;
    padding: 10px;
    color: black;
}

.footer .footer-nav {}


/* hotel */

.search-wrapper {
    width: 100%;
    text-align: center;
    position: relative;
    background-color: #E0E0E0;
}

.form-select {
    width: 20%;
}

.input-group {
    width: 20px !important;
    text-align: center;
    width: 20px !important;
    transform: translate(-50%, 0);
    left: 50%;
    position: absolute;
}

.input-group button {
    border: none;
    background-color: blue;
    color: white;
    font-weight: 900;
    padding: 0px 20px;
}

.input-group input,
.input-group select,
.input-group button {
    padding: 10px;
    margin: 10px;
}

.content-wrapper {
    display: flex;
}

.filter-wrapper {
    width: 30%;
    margin: 10px;
}

.hotel-wrapper {
    width: 70%;
}
.hotel-wrapper .hotel-card .card-text{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.hotel-wrapper .hotel-card .card img{
    height: 400px;
    width: 100%;
}
.card {
    margin: 10px;
}

.pagination {
    float: right;
    margin: 10px;
}

.explore-destination .image {
    width: 30%;
    height: 400px
}


/*Detail hotel*/
 .detail .detail-container{
     display: flex;
 }
 .detail .detail-container .tab-wrapper{
     width: 70%;
 }
.reservation {
    width: 30%;
    float: right;
    margin-top: 40px;
    
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 400px;
}

.tab-wrapper {
    width: 70%;
    float: left;
}

.detail-image {
    width: 100%;
    height: 1280px;
}

.nav-scroll {
    background-color: white;
    border-bottom: 1px solid #E0E0E0;
}

.nav-scroll .nav-pills li a {
    color: black;
    font-weight: 500;
    font-size: 24px;
}

#scrollspyHeading1,
#scrollspyHeading2,
#scrollspyHeading3 {
    padding: 10px 25px;
    font-weight: 600;
}

.scrollspy-example p,
.scrollspy-example p,
.scrollspy-example div {
    padding: 10px 25px;
}

.comment-card img {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 1px solid #E0E0E0;
}

.comment-card .name {
    font-weight: 500;
    font-size: 20px;
    padding-left: 40px;
}

.comment-card .time {
    color: grey;
    font-size: 16px;
    padding-left: 40px;
}

.comment-card .fa {
    padding: 10px 20px;
}

.comment-card .like {
    float: right;
}

.card-footer {
    background-color: white;
}

.reservation .card-header {
    border-bottom: 1px solid #E0E0E0;
    background-color: white !important;
    color: #202020;
    font-weight: 500;
    font-size: 24px;
}

.reservation .card-footer {
    background-color: white;
    text-align: center;
}

.reservation .card-footer button {
    border: none;
    background-color: #009999;
    color: white;
    padding: 10px 60px;
}


/*Booking*/

.progressbar-wrapper {
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.progressbar-inner {
    width: 100%;
}

.progressbar {
    counter-reset: step;
    padding: 0;
    /* for demo */
    margin: 0 auto;
    max-width: 100%;
}

.progressbar li {
    float: left;
    list-style: none;
    position: relative;
    text-align: center;
    width: calc(100% / 3);
}

.progressbar li:before {
    background: #fff;
    border: 2px solid #bebebe;
    border-radius: 50%;
    color: #bebebe;
    content: counter(step);
    counter-increment: step;
    display: block;
    font-weight: 700;
    height: 30px;
    line-height: 27px;
    margin: 0 auto 10px;
    text-align: center;
    width: 30px;
}

.progressbar li:after {
    background: #979797;
    content: '';
    height: 3px;
    left: -50%;
    position: absolute;
    top: 15px;
    width: 100%;
    z-index: -1;
}

.progressbar li:first-child:after {
    content: none;
}

.progressbar li.active:after,
.progressbar li.complete:after {
    background: #3aac5d;
}

.progressbar li.active:before,
.progressbar li.complete:before {
    background: #3aac5d;
    border-color: #3aac5d;
    color: #fff;
}

.progressbar li.active {
    color: #3aac5d;
    font-weight: 700;
}

.progress-content {
    display: flex;
    width: 100%;
}

.booking-detail {
    width: 30%;
}

.card .card-title {
    font-size: 20px;
    font-weight: 700;
}

.payment-wrapper {
    width: 100%;
}

.information-detail {
    width: 70%;
}

.information-detail .card-info {
    background-color: #99ccff;
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -50%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}

@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left+.carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left+.carousel-item,
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right+.carousel-item,
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* MD */

@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/* LG */

@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active+.carousel-item+.carousel-item+.carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item+.carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: absolute;
        top: 0;
        right: -25%;
        /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item+.carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}


/*-------------------------------Blog------------------------*/

.container-blog {
    padding-left: 10%;
    padding-right: 10%;
}

.review {
    margin-top: 50px;
}

.header-blog {
    border-bottom: 2px solid #660000;
    font-size: 26px;
    font-weight: bold;
}

.container-blog .review .col-md-8 .card-title-hotel {
    font-size: 22px;
    font-weight: 500;
    color: #660000;
    border-bottom: 1px solid #660000;
}


/*----------------Blog Detail----------------*/

.container-blog-detail {
    padding-left: 15%;
    padding-right: 15%;
    display: flex;
}

.container-blog-detail .blog-content {
    float: left;
    width: 70%;
}

.container-blog-detail .actor {
    float: right;
    width: 30%;
    padding: 10px;
}

.container-blog-detail .title {
    font-size: 30px;
    text-align: center;
}

.introduction-heading,
.location-heading,
.feature-heading {
    font-size: 22px;
    font-weight: 700;
}
/****Invidual*******/
.invidual{
    display: flex;
    padding-top: 50px;
}
.invidual .avatar{
    width: 30%;
}
.invidual .info{
    width: 70%;
}
.invidual .info .head-title{
    font-size: 20px;
    font-weight: 700;
}

.list-group-item.active {
    background-color: #666;
    color: white;
}

/*****************Owner******************/
.login-owner{
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}
  